<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/90fae742c0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="components.css" />
    <title>Document</title>
  </head>
  <body>
    <header class="header">
      <nav class="nav">
        <img
        class="header__logo"
        src="/components/assets/bonz.ai-logo-white-landscape.png"
        alt=""
        />
        <ul class="nav__list">
          <li class="nav__item"></li>
          <li class="nav__item">
            <a class="nav__link navigation__text" href="#">About us</a>
          </li>
          <li class="nav__item">
            <a class="nav__link navigation__text" href="#">Explore</a>
          </li>
          <li class="nav__item">
            <a class="nav__link navigation__text" href="#">Contact</a>
          </li>
        </ul>
      </nav>
      <section class="header__text-container">
        <h1 class="header__heading">AI-powered sustainability </h1>
        <h2 class="header__subheading">- check in to a greener future..</h2>
        <button class="button">Book here!</button>
      </section>
    </header>
    <header class="header__booking-page">  
      <nav class="nav">
        <img
        class="header__logo"
        src="/components/assets/bonz.ai-logo-white-landscape.png"
        alt=""
        />
        <ul class="nav__list">
          <li class="nav__item"></li>
          <li class="nav__item">
            <a class="nav__link navigation__text" href="#">About us</a>
          </li>
          <li class="nav__item">
            <a class="nav__link navigation__text" href="#">Explore</a>
          </li>
          <li class="nav__item">
            <a class="nav__link navigation__text" href="#">Contact</a>
          </li>
        </ul>
      </nav>
      <section class="header__text-container--booking-page">
        <h1 class="header__heading">Book a house.</h1>
      </section>
    </header>
        <article class="card">
          <h1 class="text__heading--large">
            A tiny eco house completely powered by ai technology - enjoy the
            magical powers and just relax.
          </h1>
          <p class="text__bodytext--black">
            It's not until you go to bed and everything is quiet that you
            realize how much noise you usually have around yourself.
          </p>
          <p class="text__bodytext--black">
            Our eco-hotel is located in the midst of nature and is surrounded by
            forest and a fjord flowing outside. Here it is the wind and the
            water that creates melodies
          </p>
        </article>
            <img class="card__picture"
              src="/components/assets/block__1--img.png"
              alt=""
            />
      <article class="card card__card-item">
        <img src="/components/assets/sup.png" alt="">
        <button class="button card__button">Activities</button>
      </article>
      <section class="booking-container">
        <article class="booking-container__column">
          <p class="text__bodytext text__bodytext--opacity">Check in</p>
          <input type="date" class="datepicker-input" />
        </article>
        <article class="booking-container__column">
          <p class="text__bodytext text__bodytext--opacity">Check out</p>
          <input type="date" class="datepicker-input" />
        </article>
        <article class="booking-container__column">
          <p class="text__bodytext text__bodytext--opacity">Adult</p>
          <select name="adults" id="adults-quantity">
            <option value="00">00</option>
            <option value="01">01</option>
            <option value="02">02</option>
            <option value="03">03</option>
            <option value="04">04</option>
            <option value="05">05</option>
            <option value="06">06</option>
          </select>
        </article>
        <article class="booking-container__column">
         <p class="text__bodytext text__bodytext--opacity">Kids</p>
          <select name="kids" id="kids-quantity">
            <option value="00">00</option>
            <option value="01">01</option>
            <option value="02">02</option>
            <option value="03">03</option>
            <option value="04">04</option>
            <option value="05">05</option>
            <option value="06">06</option>
          </select>
        </article>
        <article class="booking-container__column">
          <p class="text__bodytext text__bodytext--opacity"><button class="button button__primary--visible">Add room <i class="fa-solid fa-plus fa-l"></i></button>
          <button class="button button__primary--visible">Check availibility</button>
        </article>
      </section>
      <article class="icon">
        <aside class="icon icon__item"><i class="fa-solid fa-car fa-4x"></i></aside>
        <h2 class="text__heading">Free parking</h2>
      </article>
      <section class="room">
        <aside class="room__details">
            <h1 class="room__number">01</h1>
          <div class="card__booking-card--text">
            <h2 class="card__heading">House with sofa bed</h2>
            <h3 class="booking__card--price">199$ / night</h3>
            <p class="text__bodytext"><i class="fa-solid fa-user"></i> 2 adults + 2 kids</p>
            <p class="text__bodytext"><i class="fa-solid fa-bed"></i></i>Kingsize bed + sofa bed</p>
            <p class="text__bodytext"><i class="fa-solid fa-bath"></i></i>Shower + toilet</p>
            <button class="button button__primary--visible">book now</button>
          </div>
        </aside>
        <article class="room__picture">
            <img src="/components/assets/room-one.png" alt="">
          </aside>
        </article>
      </section>
      <footer class="footer">
        <section class="footer__item">
          <h2 class="navigation__text">Contact Bonz.ai</h2>
          <button class="button footer__button">Do you need help?</button>
        </section>
        <section class="footer__item">
          <h2 class="navigation__text">Follow us on social media</h2>
            <aside class="footer__item-icons">
              <i class="fa-brands fa-facebook fa-xl"></i>
              <i class="fa-brands fa-instagram fa-xl"></i>
              <i class="fa-brands fa-linkedin fa-xl"></i>
              <i class="fa-brands fa-youtube fa-xl"></i>
          </aside>
        </section>
        <section class="footer__item">
          <h2 class="navigation__text">Don't miss our most popular offers</h2>
          <input class="footer__input" type="text" placeholder="Email-adress">
          <button class="button footer__button">Subscribe</button>
        </section>
      </footer>
  </body>
</html>
