<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="components.css" />
    <title>Document</title>
  </head>
  <body>
    <main class="grid-container">
      <header class="header">
        <nav class="header__nav">
          <img
            class="header__logo"
            src="/components/assets/bonz.ai-logo-white-landscape.png"
            alt=""
          />
          <ul class="header__nav-list">
            <li class="header__nav-item"></li>
            <li class="header__nav-item">
              <a class="header__nav-link" href="#">About us</a>
            </li>
            <li class="header__nav-item">
              <a class="header__nav-link" href="#">Explore</a>
            </li>
            <li class="header__nav-item">
              <a class="header__nav-link" href="#">Contact</a>
            </li>
          </ul>
        </nav>
        <section class="header__text-container">
          <h1 class="header__heading">Start your adventure here.</h1>
          <h2 class="header__subheading">Book an eco-house.</h2>
          <button class="header__button">Book here!</button>
        </section>
      </header>
      <section class="info">
        <section class="info__text-container">
          <h1 class="heading__text--medium">
            A tiny eco house completely powered by ai technology - enjoy the
            magical powers and just relax.
          </h1>
          <p class="body__text--small body__text--bold">
            It's not until you go to bed and everything is quiet that you
            realize how much noise you usually have around yourself.
          </p>
          <p class="body__text--small">
            Our eco-hotel is located in the midst of nature and is surrounded by
            forest and a fjord flowing outside. Here it is the wind and the
            water that creates melodies
          </p>
        </section>
        <section class="info__img-container">
          <img
            class="info__picture"
            src="/components/assets/09-day 1.png"
            alt=""
          />
        </section>
      </section>
    </main>
  </body>
</html>
