body{
    background: linear-gradient(180deg, #04303D 0%, #000000 100%);
}
main.grid-container>*{
    margin-top: 5rem;
}
main.grid-container{
    max-width: 1000px;
    margin: 1rem auto;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-auto-rows: auto;
    gap:1.5rem;
}
.grid-container .text__heading--medium{
    grid-column: 1/4;
}
.booking-container{
    width: 100%;
    grid-column: auto / span 6;
}
.icon__container{
    grid-column: 1/ 7;
}
.booking__card{
    grid-column: auto/ span 6;
}
.room{
    grid-column: 1 / 7 ;
}
.hamburger{
    position: absolute;
    right:1rem;
    top:2rem;
    color:white;
    display: none;
}

@media (min-width: 200px) and (max-width: 767px) {
    img{
        width: 100%;
    }
    .header__booking-page{
        background: url(/components/assets/header-hero__2.png) no-repeat center; 
        background-size: cover;
        height: 50vh;
    }
    .room{
        display: flex;
        flex-direction: column-reverse;
    }
    main.grid-container>*{
        margin-top:1rem;
    }
    main.grid-container{
        margin-top:1rem;
        display: block;
    }
    .room__picture{
        margin: 1rem;
        width: 90%;
    }
    .booking-container{
        flex-direction: column;
    }
    .booking-container__column{
        width: 100%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }
    .booking-container button.button__primary--visible{
        width: 90%;
    }
    .datepicker-input{
        padding:0;
    }
    .room__button{
        width: 80%;
        height: 3rem;
        padding:0.5rem;
        margin-bottom:2rem;
        font-size: var(--step--1);
    }
    .icons{
        margin-top:0.5rem;
        font-size: 2rem;
    }
    .footer__item:last-child {
        display: none;
    }
    .footer button.button__primary{
        width: 100%;
    }
    .footer{
        display: flex;
        flex-direction: column;
        padding-bottom: 2rem;
    }
    .icon__item{
        width: 5rem;
        height: 5rem;
    }
    .icon .text__heading{
        font-size: var(--step--1);
    }
    .room__details--text{
        padding:0rem;
        margin:0;
        width: 100%;
    }
    .room__details--text .text__heading.text__heading--black{
        margin:0;
    }
    .nav__link{
        display: none;
    }
    .hamburger{
        display: block;
      }
    .text__heading{
        font-size: var(--step-1);
    }
    .text__bodytext{
        font-size: var(--step--1);
        margin: 0;
    }
    .booking-container__button{
        margin-top:10px;
        width: 90%;
        font-size: var(--step--1);
    }
    .room__number{
        margin-left:1rem;
        margin-top:0;
        font-size: var(--step-4);
    }
    .room__price{
        font-size: var(--step--1);
    }
}