@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&family=Staatliches&display=swap');
/* font-family: 'Open Sans', sans-serif;
font-family: 'Staatliches', cursive; */


/* Components */
main.grid-container{
    max-width: 1226px;
    margin: 1rem auto;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-auto-rows: minmax(204px, auto);
    gap:1.5rem;
}
.info__card--big{
    max-width:100%;
    display: flex;
    margin-bottom: 5rem;
    padding-top:6rem;
    grid-column: auto / span 6;
}
.info__card--big .card__text--small{
    padding-top: 3rem;
    margin-left:5rem;
}
.info__text-container{
    grid-column: auto / span 3;
}
.info__card--big figure {
    grid-column: auto / span 3;
    width: 100%;
}
.info__card--big figure img{
    max-width: 33rem;
}
.todo__card-container{
    max-width: 100%;
    display: flex;
    gap:1rem;
    grid-column: auto / span 6;
}
.info__card--small{
    grid-column: auto / span 3;
}
.todo__card-container--activities{
    background-image: url(/components/assets/sup1.png);
}
.todo__card-container--lokal-foods{
    background-image: url(/components/assets/food.png);
}
